<div class="accordion">
  <ul class="accordion__list">
    <li *ngFor="let item of accordionItemList; let i = index">
      <input class="accordion__checkbox" type="checkbox" [id]="'accordion__check' + i"/>
      <label class="accordion__title" [for]="'accordion__check' + i">
        {{item.title}}
      </label>
      <div class="accordion__detail">
        <ul class="accordion__detail__list">
          <li *ngFor="let detail of item.details">
            {{detail}}
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
