.accordion__title {
  display: flex;
  justify-content: space-between;
  width: 300px;
  &::after {
    content: '\ff0b';
    display: inline-block;
  }
}
.accordion__checkbox:checked + .accordion__title::after {
  content: '\ff0d';
}
.accordion__checkbox {
  display: none;
}
.accordion__detail {
  visibility: hidden;
}
.accordion__checkbox:checked + .accordion__title + .accordion__detail {
  visibility: visible;
}